@import "~bootstrap/scss/bootstrap";
@import "./partial/variables";

div.card{

    div.train-immage{
        height: 230px;
        background-color: $grayBackground;

        img{
            height: 100%;
        }
    }


}


