section.row {
  height: 100vh;
  display: flex;
  align-items: center;
}
section.row div.col-6 {
  height: 90%;
}
section.row div.col-6 div.card {
  height: 100%;
}
section.row div.col-6 div.card div.train-immage {
  height: 300px;
}